@font-face {
    font-family: 'SF Pro Text';
    src: url('https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  