#home-title {
    color: #000;
    text-align: center;
    @font-face {
        font-family: "SF Pro Text";
        font-style: normal;
        font-weight: 700;
        src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Bold.ttf");
    }
    font-size: 64px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0; /* Corrected: no quotes */
}

#home-container {
    display: flex; /* Corrected: no quotes */
    flex-direction: column; /* Corrected: no quotes */
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#searchDropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.in-buttons {
    display: flex;
    position: absolute;
    right: 16px; 
    top: 16px;
    gap: 8px;
    @font-face {
        font-family: "SF Pro Text";
        font-style: normal;
        font-weight: 400;
        src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Regular.ttf");
    }
}

#login-button {
    border: 1px solid var(--Secondary-1, #171923);
    border-radius: 4px;
    padding: 8px 12px;
    background: white;
    color: #171923;
    font-size: 14px;
    cursor: pointer;
}

#login-button:hover {
    background-color: #f0f0f0;
}

#signin-button {
    border: none;
    border-radius: 4px;
    background: var(--Secondary-1, #171923);
    color: #FFF;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
}

#signin-button:hover {
    background-color: #2d3748;
}